src/main/mule/select-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="02b5fa73-e9bb-447f-9bd7-aa30e246c6a9" basePath="naveen" >
		<http:listener-connection host="0.0.0.0" port="8092"/>
	</http:listener-config>
	<flow name="select-covid-caseFlow" doc:id="4d4baa3d-68a4-491f-9069-5c50f078d57f" >
		<http:listener doc:name="Listener" doc:id="790effc1-5354-47fe-b9e7-ae76c0551295" config-ref="HTTP_Listener_config2" path="v1/covid/{nationalID}">
			<http:error-response statusCode="#[vars.statusCode]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="37a058da-dcb1-49e5-9a99-a88be233379b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default " "]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="start logger" doc:id="f20e66d8-f68d-404b-865f-cf9bbb30fe0a" message='correlationId:#[vars.correlationId] , transactionId:#[vars.transactionId], message:"The flow has been started " ,payload:#[payload]'/>
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="Set Variable" doc:id="9829cd9f-36ac-45a1-be11-f422f124481b" variableName="nationalID"/>
		<db:select doc:name="Select" doc:id="982c02bd-592b-4a2e-8ffc-ab813bc1456d" config-ref="Database_Config">
			<db:sql ><![CDATA[select case_id ,case_type,first_name,last_name,phone,email,date_of_birth,national_id,national_id_type,street_address,city,state,postal,country,create_date,update_date,create_by,update_by from cvd_case_master where national_id=:national_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	national_id:vars.nationalID
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="3af4f438-cd57-4d87-a306-2960e4be814c" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="4eea6dd8-22c9-4e73-bca5-0e4a10e3a0c5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(covidCase,indexOfCovidCase) -> {
caseID: covidCase.case_id, 
source:covidCase.source,
caseType:covidCase.case_type,
firstName:covidCase.first_name,
lastName:covidCase.last_name,
phone:covidCase.phone,
email:covidCase.email,
dateOfBirth:covidCase.date_of_birth as String {format : "yyyy-MM-dd"},
nationalID:covidCase.national_id,
nationalIDType:covidCase.national_id_type,
address: {
	streetAddress:covidCase.street_address,
	city:covidCase.city,
	state:covidCase.state,
	postal:covidCase.postal,
	country:covidCase.country
},
createDate:covidCase.create_date as String {format :"yyyy-MM-dd"},
updateDate:covidCase.update_date as String {format : "yyyy-MM-dd"}
}
 ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="0874e826-634f-433e-96f3-037582b59d27" type="CUSTOM:CASE_NOT_FOUND" description="The server has not found anything matching the Request-URI"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="eb8f4138-e7b4-4fd8-ad69-c24b4a08e204" type="CUSTOM:CASE_NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="f01cf003-2dcd-48cc-832a-e353e3c3686e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 404,
    "message": "Resource not found",
    "description": "The server has not found anything matching the Request-URI",
    "dateTime":"2021-05-31T06:18:02Z",
    "transactionId":vars.transactionId
    
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="statusCode"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
