src/main/mule/update-covid-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="5f133779-b9d7-4fa0-ac8a-6ee121285e1d" basePath="update" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="update-covid-flowFlow" doc:id="e5ae06c1-d53f-4ce6-9b11-12f6cdcc9a32" >
		<http:listener doc:name="Listener" doc:id="066c788b-8e25-4c0f-a72a-5bc254e5cab9" config-ref="HTTP_Listener_config1" path="v1/cases"/>
		<ee:transform doc:name="Set CorrelationId and TransactionId" doc:id="fe2060a1-20ec-4fa8-8b2e-c487530ce113" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-correlation-id' default payload.covidCase.CaseID]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0377bd46-360f-46d8-8af9-a20faa1a8800" message='correlationId:#[vars.correlationId] , transactionId:#[vars.transactionId], message:"The flow has been started " ,payload:#[payload]'/>
		<set-variable value='#[payload.dateOfBirth as String {format:"yyyy-MM-dd"}]' doc:name="Set Variable" doc:id="6bf6f603-32ff-4354-8695-8f1ab8a3bc5d" variableName="dob"/>
		<ee:transform doc:name="Transform Message" doc:id="90b72752-9b07-46b1-9444-815974af38a7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sample" ><![CDATA[%dw 2.0
output application/json
---
{
	case_id: payload.covidCase.caseID,
	source: payload.covidCase.source,
	case_type: payload.covidCase.caseType,
	first_name: payload.covidCase.firstName,
	last_name: payload.covidCase.lastName,
	phone: payload.covidCase.phone,
	email: payload.covidCase.email,
	national_id: payload.covidCase.nationalID,
	national_id_type: payload.covidCase.nationalIDType,
	street_address: payload.covidCase.address.streetAddress,
	city: payload.covidCase.address.city,
	state: upper(payload.covidCase.address.state),
	postal: payload.covidCase.address.postal,
	country: payload.covidCase.address.country,
	update_date: now() as String {
		format: "dd-MM-yy"
	},
	create_by: "UHIS",
	update_by: "UHIS",
	dateofbirth: vars.dob
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a6af3f2b-4e52-4592-957c-b3f157bc3890" message="#[vars.covidCasePayload]"/>
		<db:update doc:name="Update" doc:id="d91d17ac-75d4-4213-af30-b1017e56fae7" config-ref="Database_Config">
			<db:sql ><![CDATA[update cvd_case_master set source=:source , case_type=:case_type,first_name=:first_name,last_name=:last_name,
phone=:phone,email=:email,date_of_birth='$(vars.dob)',national_id=:national_id,national_id_type=:national_id_type,
street_address=:street_address,city=:city,state=:state,postal=:postal,country=:country where case_id =:case_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.sample]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="a0809bb2-8833-44b9-a769-55f6b51d8e88" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(payload.affectedRows>0){
	caseID:vars.covidCasePayload.case_id
} else {}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8175b785-98df-4017-9086-5d20838fe4b6" message="payload:#[payload]"/>
		<error-handler ref="global-error-handler" />
	</flow>
</mule>
